{% extends 'OroUIBundle:actions:update.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% set entityId = form.vars.value.id %}
{% oro_title_set({ params : {"%name%": form.vars.value.name} }) %}
{% set formAction = entityId ? path('mailsystem_maillist_update', { 'id': entityId}) : path('mailsystem_maillist_create') %}

{% block navButtons %}
    {% if form.vars.value.id and resource_granted('mailsystem_maillist_delete') %}
        {{ UI.deleteButton({
        'dataUrl': path('mailsystem_maillist_delete', {'id': form.vars.value.id}),
        'dataRedirect': path('mailsystem_maillist_index'),
        'aCss': 'no-hash remove-button',
        'id': 'btn-remove-contact-request-form',
        'dataId': form.vars.value.id,
        'entity_label': 'mailsystem.letter.entity_label'|trans,
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}
    {{ UI.button({'path' : path('mailsystem_maillist_index'), 'title' : 'Cancel'|trans, 'label' : 'Cancel'|trans}) }}
    {% set html = UI.saveAndCloseButton() %}
    {% if resource_granted('mailsystem_maillist_update') %}
        {% set html = html ~ UI.saveAndStayButton() %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock %}

{% block pageHeader %}
    {% if form.vars.value.id %}
        {% set breadcrumbs = {
        'entity':      form.vars.value,
        'indexPath':   path('mailsystem_maillist_index'),
        'indexLabel': 'mailsystem.maillist.entity_plural_label'|trans,
        'entityTitle': form.vars.value.name
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'mailsystem.maillist.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'mailsystem-maillist' %}

    {% set dataBlocks = [{
    'title': 'General'|trans,
    'class': 'active',
    'subblocks': [{
    'title': 'Maillist Information'|trans,
    'data': [
    form_row(form.name),
    form_row(form.description)
    ]}
    ]
    }] %}

    {% set data = {
    'formErrors': form_errors(form)? form_errors(form) : null,
    'dataBlocks': dataBlocks,
    } %}
    {{ parent() }}
{% endblock content_data %}
