{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as ui %}
{% set subject = entity.name %}
{% oro_title_set({ params : {"%request.subject%": subject} }) %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity': entity,
    'indexPath': path('mailsystem_maillist_index'),
    'indexLabel': 'mailsystem.maillist.entity_plural_label'|trans,
    'entityTitle': subject
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block navButtons %}
    {% if resource_granted('mailsystem_maillist_delete') %}
        {{ UI.deleteButton({
        'dataUrl': path('mailsystem_maillist_delete', {'id': entity.id}),
        'dataRedirect': path('mailsystem_maillist_index'),
        'aCss': 'no-hash remove-button',
        'id': 'btn-remove-contact-request-form',
        'dataId': entity.id,
        'entity_label': 'mailsystem.maillist.entity_label'|trans,
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}

    {{ UI.button({'path' : path('mailsystem_maillist_index'), 'title' : 'Cancel'|trans, 'label' : 'Cancel'|trans}) }}

    {% if resource_granted('mailsystem_maillist_update') %}
        {{ UI.editButton({
        'path': path('mailsystem_maillist_update', {'id': entity.id}),
        'entity_label': 'mailsystem.maillist.entity_label'|trans,
        }) }}
    {% endif %}

{% endblock %}

{% block content_data %}
    {% set dataBlocks = [
    {
    'title': 'General'|trans,
    'class': 'active',
    'subblocks': [
    {'data': [
        ui.renderHtmlProperty('mailsystem.maillist.name.label'|trans, entity.name),
        ui.renderHtmlProperty('mailsystem.maillist.description.label'|trans, entity.description)
    ]}
    ]
    }
    ] %}

    {% set id = 'maillistFormView' %}
    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
{% endblock %}
