<div class="widget-content">
    {% if saved is defined and saved %}
        <script type="text/javascript">
            require(['underscore', 'orotranslation/js/translator', 'oroui/js/widget-manager',
                        'oroui/js/messenger', 'oroui/js/mediator'],
                    function (_, __, widgetManager, messenger, mediator) {
                        widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function (widget) {
                            messenger.notificationFlashMessage('success', __('Demo scheduled successfully'));
                            mediator.trigger('widget_success:' + widget.getAlias());
                            mediator.trigger('widget_success:' + widget.getWid());
                            widget.remove();
                        });
                    });
        </script>
    {% else %}
    {% if not form.vars.valid and form.vars.errors|length %}
        <div class="alert alert-error">
            <div class="message">
                {{ form_errors(form) }}
            </div>
        </div>
    {% endif %}
        <div class="form-container">
            <form id="{{ form.vars.name }}" action="{{ formAction }}" method="post">
                <fieldset class="form form-horizontal">
                    <div class="span6">
                        {% if form.owner is defined %}{{ form_row(form.owner) }}{% endif %}
                        {{ form_row(form.calendarOwner) }}
                        {{ form_row(form.demoDate) }}
                        {{ form_row(form.participants) }}
                        {{ form_row(form.notes) }}
                        {{ form_rest(form) }}
                    </div>
                    <div class="widget-actions form-actions">
                        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                        {% if form.vars.value.id %}
                            <button class="btn btn-primary"
                                    type="submit">{{ 'magecore.demoactivity.demo.update_schedule_demo'|trans }}</button>
                        {% else %}
                            <button class="btn btn-primary"
                                    type="submit">{{ 'magecore.demoactivity.demo.schedule_demo'|trans }}</button>
                        {% endif %}
                    </div>
                </fieldset>
            </form>
        </div>
    {% endif %}
</div>
